* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #F3F2F2;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

li, a, div {
    font-size: 19px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.list-group {
    width: 30vw;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
}

.list-item {
    margin: 0;
    padding: 8px;
    border: 1px solid #D5D5D5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.list-item:hover {
    /* background: #D5D5D5; */
    color: #00F1DE;
    transition: 0.3s ease color;
}

.list-item-status {
    width: 10%;
    align-self: flex-start;
    line-height: baseline;
}

.fa.fa-check-square {
    color: #00F1DE;
}

.list-item-name {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding-left: 8px;
}

.list-item-remove {
    width: 10%;
}

.fa.fa-times {
    color: #FF0046;
}

.input-group {
    width: 30vw;
}

.input-control {
    width: 100%;
    height: 32px;
    margin: 8px 0 0 0;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
    font-size: 16px;
    padding: 6px;
}

.input-control:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #00F1DE; 
}

button.input-control {
    background-color: #00F1DE;
    margin-bottom: 8px;
}

button.input-control:active {
    transform: translateZ(2px);
    /* box-shadow: inset 2px 2px 2px 1px #D5D5D5; */
    background: black;
    color: #00F1DE;
    border-radius: 4px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes added {
    from { 
        opacity: 0;
        top: -500px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@keyframes deleted {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: 200px;
        opacity: 0;
    }
}

.list-item.ng-enter {
animation: 0.25s linear added;
}

.list-item.ng-leave {
animation: 0.25s linear deleted;
}

.invalid-form {
    border: 1px solid #FF0046;
}

.title {
    background: linear-gradient(to right, #ffce00, #ffb031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}