<div class="container">
    <h1>todos</h1>
    <div >
        <ul class="list-group">
            <li class="list-item" ng-repeat="todo in $ctrl.todos">
                {{todo.name}}
                {{todo.isDone}}
            </li>        
        </ul> 
        <div class="input-group">
            <form ng-submit="$ctrl.onAddTodo()">
                <input 
                    class="input-control" 
                    type="text" 
                    placeholder="new todo" 
                    onfocus="this.placeholder = ''" 
                    name="todo" 
                    ng-model="$ctrl.todo">
                <button class="input-control" type="submit">Add</button> 
            </form>
        </div>
    </div>
</div>